<h1>List de Pokémons</h1>
<style>
    table,
    th,
    td {
        margin: auto;
        width: 50%;
        border: 1px solid red;
        padding: 10px;
    }
</style>
<table *ngFor="let pokemon of pokemonList" style="width:100%">
    <thead>
        <tr>
            <th>Pokemon Id</th>
            <th>Pokemon name</th>
            <th>Pokemon hp</th>
            <th>Pokemon cp</th>
            <th>Pokemon birthday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{pokemon.id}}</td>
            <td (click)="selectPokemon(pokemon)">{{pokemon.name}}</td>
            <td>{{pokemon.hp}}</td>
            <td>{{pokemon.cp}}</td>
            <td>{{pokemon.created}}</td>
        </tr>
    </tbody>
</table>